:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: #2b5b18;
    align-items: center;
    color: white;
    z-index: 2;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #2b5b18;
    color: white;
    padding-top: 14px;
    font-size: 1.2rem;
    z-index: 1;
}

.logo {
    width: 70px;
    border-radius: 99999px;
    padding: 5px;
    justify-self: left;
}

header h2 {
    font-size: 2.4em;
    padding: 0;
    justify-self: center;
}

/* Ícone hamburger */
.menu-hamburger {
    justify-self: right;
    z-index: 1000;
    padding: 20px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5000;
    cursor: pointer;
}

.linha {
    width: 35px;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Estilos do overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 28, 28, 0.986);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

/* Estilos do menu navegação */
.menu-navegacao {
    text-align: center;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 70%;
}

.menu-navegacao ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-navegacao ul li {
    margin: 20px 0;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 0px;
}

.menu-navegacao ul li a {
    display: block;
    color: #248f24;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
}

.menu-navegacao ul li:hover {
    background-color: #c1ffec;
}

/* Animação */
#menu-toggle:checked + .menu-icon .linha:nth-child(1) {
    transform: rotate(45deg) translate(13px, 13px);
}

#menu-toggle:checked + .menu-icon .linha:nth-child(2) {
    opacity: 0;
}
#menu-toggle:checked + .menu-icon .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
#menu-toggle:checked ~ .overlay {
    transform: scale(1);
}
#menu-toggle:checked + .menu-icon {
    position: fixed;
    transform: translateX(-100%) translateY(-50%);
}

/* Mensagem flash */
.flash {
    background-color: #DCFCE7;
    border: #4ADE80;
    color: black;
    width: 70%;
    padding: 0.75rem, 1rem;
    border-radius: 4px;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 500px;
}

.mensagem_flask {
    font-size: 14px;
    width: 90%;
}

.botao-flash {
    background: none;
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
.botao-flash:hover {
    background-color: rgba(128, 128, 128, 0.26)
}
.botao-flash:focus {
    outline: none;
}

/* Conteúdo */
main {
    flex-grow: 1;
    z-index: 1;
    width: 100%;
}
.info-geral {
    padding: 20px 12px 80px;
    font-size: 1.6rem;
    background-color: white;
}
.info-site h3 {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 2px;
    color: #123106;
}
.info-site h3 + p {
    text-align: center;
    line-height: 1.5;
    margin: 30px 10px 20px;
    font-weight: bold;
}
.info-site p {
    text-align: justify;
    line-height: 1.5;
    margin: 32px 10px;
}
.info-principal {
    padding: 8px 10px;
    background-color: #b0e79a;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.info-carbono h3 {
    font-size: 1.5em;
    padding: 20px 10px 30px;
    color: #123106;
}
.info-carbono p {
    margin: 0 10px 20px;
    text-align: justify;
    line-height: 1.5;
    margin: 20px 5px;
}
.carbono-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 32px;
    max-width: 1000px;
    margin: 0 auto;
}
.carbono {
    padding: 10px;
    background-color: #d3ffc1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.carbono:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.form-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 350px;
    max-height: 650px;
    margin: 10rem auto;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.form-box h1 {
    color: #2b5b18;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    font-size: 1.8rem;
    color: #123106;
    display: block;
    margin-bottom: 0.8rem;
    font-weight: bold;
}
.form-group input[type="text"], [type="password"] {
    width: 100%;
    padding: 1.4rem;
    border-radius: 0.7rem;
    border: 2px solid #ccc;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    background-color: rgb(207, 241, 207);
    margin: 0.5rem;
}
.form-group input:focus{
    outline: none;
    border-color: #123106;
}
.form-group label[for="user"], [for="empresa"] {
    display: inline-flex !important; 
    align-items: center;
    width: auto !important;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    padding: 1rem 0;
    cursor: pointer;
}
.form-group input[type="radio"] {
    margin-right: 1.6rem;
    accent-color: #123106;
}
button {
    border-radius: 0.3rem;
    width: 100%;
    border: none;
    background-color: #2b5b18;
    color: white;
    padding: 1.2rem;
    font-size: 2rem;
    font-weight: bold;
}
button:focus {
    transform: scale(0.98);
    box-shadow: 0 8px 210px #507a3f;
}
button:hover {
    cursor: pointer;
    background-color: #123106;
}
.campos-ocultos {
    display: none;
}
.campo-oculto {
    margin-bottom: 2.5rem;
}
.tabela-container {
    overflow-x: auto;
    max-width: 780px;
    margin: 40px auto;
}
.tabela-dados {
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
th {
    background-color:#248f24;
    color: white;
    padding: 8px;
    border: 1px solid #248f24;
    font-size: 1.4rem;
}
td {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(224, 224, 224);
    font-size: 1.4rem;
}
tr:nth-child(even) {
    background-color: rgb(217, 250, 198);
}
td:nth-child(3) {
    color: rgb(122, 122, 122);
    font-weight: bold;
}
.tabela-vazia {
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: rgb(217, 250, 198);
    font-weight: bold;
}
.botao-download {
    display: block;
    background-color: #248f24;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 15px;
}
.info-empresa {
    font-size: 1.6rem;
    background-color: white;
    align-self: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    min-height: 90svh;
    padding: 40px 20px 0px;
    text-align: justify;
}
.info-empresa h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #123106;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto 50px;
    max-width: 666px;
}
.form-container h1 {
    text-align: center;
    color: #2b5b18;
    padding: 10px 0;
    font-size: 2.6em;
    margin: 10px;
}
.form-container p {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 10px 10px;
}
.form-container fieldset {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: none;
}
.form-container legend {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #123106;
    padding-bottom: 10px;
}
.form-container label {
    font-size: 1.4rem;
}
.form-container select {
    margin: 4px 0 24px;
    border: 1px solid #123106;
    padding: 5px 0;
    border-radius: 8px;
}
.form-container select:hover {
    border: 1px solid #248f24;
}
.form-container select:focus {
    border: 2px solid #248f24;
}
.botao-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 0 15px 0;
}
.form-container button {
    width: fit-content;
    font-size: 1.4rem;
}
.form-container .botao-resetar {
    background: none;
    color: #2b5b18;
}
.form-container .botao-resetar:hover {
    color: #123106;
}
@media (min-width: 600px) and (max-width: 1024px) {
    .overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    header h2 {
        font-size: 3rem;
    }
    .menu-navegacao {
        margin-top: 50%;
        grid-template-columns: 30%;
    }

    footer {
        font-size: 1.5rem;
    }
    .info-geral {
        font-size: 1.8rem;
        padding: 20px 25px 100px;
    }
    .info-site h3 {
        font-size: 2.2em;
        margin: 20px 2px;
    }
    .info-carbono h3 {
        text-align: center;
        font-size: 1.6em;
        padding: 20px;
    }
    .info-principal {
        padding: 20px 50px;
        margin: 32px auto;
        max-width: 1370px;
    }
    .info-carbono {
        margin: 0 10px;
    }
    .carbono-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
    }
    .form-box {
        width: 75%;
        max-width: 600px;
        padding: 3rem;
    }
    .tabela-vazia, th, td {
        font-size: 1.6rem;
    }
    .info-empresa {
        padding: 50px 30px 160px;
        max-width: 700px;
        min-height: 800px;
        max-height: 1000px;
        margin: 10rem auto;

    }
    .info-empresa h3 {
        font-size: 2.8rem;
    }
    .botao-download {
        margin: 32px auto;
        font-size: 1.8rem;
        width: 40vw;
        height: fit-content;
    }
}

@media (min-width: 1024px) {
    body {
        min-height: 100vh;
    }
    header h2 {
        font-size: 4rem;
    }
    .menu-icon {
        width: 50px;
    }
    .logo {
        width: 17%;
    }
    .linha {
        width: 45px;
    }
    footer {
        font-size: 1.8rem;
        position: static;
    }
    .overlay {
        bottom: 65%;
        left: 75%;
        width: 25%;
        height: 35%;
        min-height: 220px;
        max-height: 250px;
        transform: translateX(100%);
    }
    .flash{
        top: 15%;
    }
    .info-geral {
        font-size: 1.8rem;
        padding: 20px 25px 150px;
    }
    .info-principal {
        margin: auto;
        padding: 30px 90px;
        max-width: 1400px;
    }
    .info-site h3 + p {
        margin: 20px 50px;
    }
    .info-site p {
        margin: 32px auto;
        max-width: 1370px;
    }
    .info-site .info-principal ~ p {
        padding: 0 120px;
    }
    .info-site h3 {
        font-size: 2.2em;
        margin: 20px 2px;
    }
    .menu-navegacao {
        margin-top: 0px;
        margin-right: 12px;
    }
    .info-site h3 {
        font-size: 2.5em;
        margin: 30px 2px;
    }
    .info-carbono h3 {
        text-align: center;
        font-size: 1.8em;
    }
    .info-carbono {
        margin: 0 10px;
    }
    .carbono-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1400px;
    }
    .form-box {
        max-width: 600px;
        padding: 3rem;
    }
    .tabela-vazia, th, td {
        font-size: 1.6rem;
    }
    .tabela-container {
        max-width: 900px;
        margin: 50px auto;
    }
    .info-empresa {
        margin: 5rem auto;
        padding: 30px 90px;
        max-width: 1000px;
        height: 70%;
        min-height: 600px;
        max-height: 1000px;
        text-align: center;
    }
    .info-empresa h3 {
        font-size: 3.5rem;
    }
    .botao-download {
        margin: 50px auto;
        font-size: 1.8rem;
        width: 25vw;
        height: fit-content;
    }
    .form-container {
        margin: 60px auto;
    }
    .form-container h1 {
        font-size: 3.4em;
        padding-bottom: 20px;
    }
    .form-container p, .form-container label, .form-container button {
        font-size: 1.6rem;
    }
    .form-container legend {
        font-size: 2.6rem;
    }
    .form-container select {
        font-size: 1.5rem;
    }
    .botao-container {
        gap: 280px;
    }
}
@media (max-width: 260px) {
    .logo {
        width: 0;
    }
}