:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: #2b5b18;
    align-items: center;
    color: white;
    z-index: -2;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #2b5b18;
    color: white;
    padding-top: 14px;
    font-size: 1.2rem;
    margin-top: 50px;
}

.logo {
    width: 70px;
    border-radius: 99999px;
    padding: 5px;
    justify-self: left;
}

header h2 {
    font-size: 2.4em;
    padding: 0;
    justify-self: center;
}

/* Ícone hamburger */
.menu-hamburger {
    justify-self: right;
    z-index: 4;
    padding: 20px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    cursor: pointer;
}

.linha {
    width: 35px;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Estilos do overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 28, 28, 0.986);
    z-index: -1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

/* Estilos do menu navegação */
.menu-navegacao {
    text-align: center;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 70%;
}

.menu-navegacao ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-navegacao ul li {
    margin: 20px 0;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
}

.menu-navegacao ul li a {
    color: #123106;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 5px;
}

.menu-navegacao ul li:hover {
    background-color: #c1ffec;
}

/* Animação */
#menu-toggle:checked + .menu-icon .linha:nth-child(1) {
    transform: rotate(45deg) translate(13px, 13px);
}

#menu-toggle:checked + .menu-icon .linha:nth-child(2) {
    opacity: 0;
}
#menu-toggle:checked + .menu-icon .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
#menu-toggle:checked ~ .overlay {
    transform: scale(1);
}
#menu-toggle:checked + .menu-icon {
    position: fixed;
    transform: translateX(-100%) translateY(-50%);
    }
/* Conteúdo */
main {
    z-index: 1;
}
.info-geral {
    padding: 20px 12px 100px;
    font-size: 1.6rem;
    background-color: #c3f8b3;
}
.info-site h3 {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 2px;
    color: #123106;
}
.info-site h3 + p {
    text-align: center;
    line-height: 1.5;
    margin: 0 10px 20px;
}
.info-site p {
    text-align: justify;
    line-height: 1.5;
    margin: 20px 10px;
}
.info-principal {
    padding: 8px 10px;
    background-color: #b0e79a;
    border-radius: 20px;
}
.info-carbono h3 {
    font-size: 1.5em;
    padding: 20px 10px 30px;
    color: #123106;
}
.info-carbono p {
    margin: 0 10px 20px;
    text-align: justify;
    line-height: 1.5;
    margin: 20px 5px;
}
.carbono-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 16px;
    max-width: 1000px;
    margin: 0 auto;
}
.carbono {
    padding: 10px;
    background-color: #d3ffc1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.carbono:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) and (max-width: 1024px) {
    .overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    header h2 {
        font-size: 3rem;
    }
    .menu-navegacao {
        margin-top: 50%;
    }
    footer {
        font-size: 1.5rem;
    }
    .info-geral {
        font-size: 1.8rem;
        padding: 20px 25px 150px;
    }
    .info-site h3 {
        font-size: 2.2em;
        margin: 20px 2px;
    }
    .info-carbono h3 {
        text-align: center;
        font-size: 1.6em;
        padding: 20px;
    }
    .info-principal {
        padding: 20px 50px;
    }
    .info-site p {
        margin: 20px 10px;
    }
    .info-carbono {
        margin: 0 10px;
    }
    .carbono-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
    }
}

@media (min-width: 1024px) {
    header h2 {
        font-size: 4rem;
    }
    .menu-icon {
        width: 50px;
    }
    .logo {
        width: 17%;
    }
    .linha {
        width: 45px;
    }
    footer {
        font-size: 1.8rem;
    }
    .overlay {
        bottom: 70%;
        left: 80%;
        width: 20%;
        height: 30%;
        transform: translateX(100%);
    }
    .info-geral {
        font-size: 1.8rem;
        padding: 20px 25px 200px;
    }
    .info-principal {
        padding: 30px 90px;
    }
    .info-site h3 {
        font-size: 2.2em;
        margin: 20px 2px;
    }
    .menu-navegacao {
        margin-top: 0;
        margin-right: 5%;
    }
    .info-site h3 {
        font-size: 2.5em;
        margin: 30px 2px;
    }
    .info-carbono h3 {
        text-align: center;
        font-size: 1.8em;
    }
    .carbono-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
    }
}
@media (max-width: 260px) {
    .logo {
        width: 0;
    }
}